In [ ]:
import pandas as pd

In [13]:
somalia_mobility = pd.read_excel('data/somalia_mobility_iom_2024.xlsx')

In [14]:
europe_mobility = pd.read_excel('data/DTM_Mixed Migration Flows to Europe_Q3_2024.xlsx',
                                sheet_name='All_Daily Breakdown')

In [15]:
somalia_mobility['date'] = pd.to_datetime(somalia_mobility['Date of Assessment'])

In [ ]:
somalia_mobility['month'] = somalia_mobility['date'].dt.month
somalia_mobility_grouped = somalia_mobility[['month','Total new arrivals since last week']].groupby('month').sum().reset_index()
somalia_mobility_grouped['year'] = 2024

In [17]:
somalia_mobility_grouped

   month  Total new arrivals since last week  year
0      3                                1744  2024
1      4                               21967  2024
2      5                               34463  2024
3      6                               34682  2024
4      7                               47440  2024
5      8                               40314  2024
6      9                               42759  2024
7     10                                7531  2024
8     11                                3521  2024
9     12                                3537  2024

In [20]:
data_extra = pd.read_excel("data/somalia-baseline-assessment-dataset_-round-3-february-september-2024_hdx.xlsx")